$color1: #424242; //?   Button first run
$color2: #419D45; //?   Button positive
$color3: #2196F3; //?   Active border input
$color4: #9C27B0; //?   BC  elements app
$color5: #FFFFFF; //?   BC
$color6: #9E9E9E; //?   Button negative
$color7: #000000; //?   Uniwersalny black
$color8: #F81C00; //?   Alert
$color9: #fac92a; //?   Kończąca się gwarancja


$cfont1: #ffffff;
$cfont2: #000000;
$cfont3: #F81C00; //?   Alert/dele
$cfont4: #059C0F; //?   Positive/accept
$cfont5: #9C27B0; //?   special color/important elements
$cfont6: #444444; //?   Light color no important elements
$cfont7: #2196F3; //?   Active text