//*     Importy:
//?Fonty:
@font-face {
    font-family: Nunito;
    src: url(../font/Nunito-Regular.ttf);
}

@font-face {
    font-family: fontello;
    src: url(../font/fontello.ttf);
}

//? Moduły:
@import 'color';


//? Mixin
@mixin BeforeIcon($icon, $fontSize, $color, $margin-right) {
    &::before {
        font-family: Fontello;
        content: "#{$icon}";
        font-size: $fontSize;
        color: $color;
        margin-right: $margin-right;
    }
}

@mixin AfterIcon($icon, $fontSize, $color, $margin-left) {
    &::after {
        font-family: Fontello;
        content: "#{$icon}";
        font-size: $fontSize;
        color: $color;
        margin-left: $margin-left;
    }
}

//? STYLE:

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Nunito;
}

a {
    color: $cfont1;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: #9C27B0;
    border-radius: 10px;
}

.GW {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

//Usuwani wiadomości na górze strony o złym wczytaniu CSS
.TopInfo__error--css {
    display: none;
}


//Input data
input[type="date"] {
    position: relative;
    padding-left: 20px;
    background: $color5;

    &::before {
        position: absolute;
        font-family: "Fontello";
        color: #999999;
        content: attr(placeholder);
        left: 5px;
    }
}





//? Strony i moduły:
//*Moduł:
@import 'Nav';
@import 'TopInfo';
@import 'DialogBox';

//*Strony:
@import 'WarrantyList';
@import 'Profil';
@import 'Product';