@charset "UTF-8";
@font-face {
  font-family: Nunito;
  src: url(../font/Nunito-Regular.ttf);
}

@font-face {
  font-family: fontello;
  src: url(../font/fontello.ttf);
}

html {
  overscroll-behavior-y: auto;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Nunito;
}

a {
  color: #ffffff;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.TopInfo__error--css {
  display: none;
}

.nav {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  z-index: 9999;
  background: #FFFFFF;
  border: 2px solid #9C27B0;
  border-radius: 15px;
  padding: 5px;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  1% {
    margin-bottom: -100%;
  }
  100% {
    margin-bottom: 0%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  1% {
    margin-bottom: -100%;
  }
  100% {
    margin-bottom: 0%;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    margin-bottom: 0%;
  }
  1% {
    margin-bottom: 0%;
  }
  100% {
    margin-bottom: -100%;
    position: fixed;
  }
}

@keyframes fadeOut {
  0% {
    margin-bottom: 0%;
  }
  1% {
    margin-bottom: 0%;
  }
  100% {
    margin-bottom: -100%;
    position: fixed;
  }
}

.nav--hidden {
  -webkit-animation: fadeOut 1s 1;
          animation: fadeOut 1s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.nav--show {
  -webkit-animation: fadeIn 1s 1;
          animation: fadeIn 1s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.nav__link {
  padding: 10px;
}

.nav__link--home {
  color: #2196F3;
}

.nav__link--home::after {
  font-family: Fontello;
  content: "";
  font-size: 1.5em;
  color: #2196F3;
  margin-left: 2px;
}

.nav__link--shop::after {
  font-family: Fontello;
  content: "";
  font-size: 1.5em;
  color: #444444;
  margin-left: 2px;
}

.nav__link--user::after {
  font-family: Fontello;
  content: "";
  font-size: 1.5em;
  color: #444444;
  margin-left: 2px;
}

.TopInfo__error {
  background: #fac92a;
  font-weight: bold;
  text-align: center;
  color: #F81C00;
}

.TopInfo__error > noscript {
  padding: 5px;
}

.TopInfo__error--css {
  padding: 5px;
}

.TopInfo__info {
  padding: 0 5px 0 5px;
}

.TopInfo__info[data-typinfo="off"] {
  display: none;
}

.TopInfo__info[data-typinfo="alert"] {
  background-color: #F81C00;
  color: #ffffff;
}

.TopInfo__info[data-typinfo="alert"]::before {
  font-family: Fontello;
  content: "";
  font-size: inhrit;
  color: #ffffff;
  margin-right: 3px;
}

.TopInfo__info[data-typinfo="info"] {
  background-color: #2196F3;
  color: #ffffff;
}

.TopInfo__info[data-typinfo="info"]::before {
  font-family: Fontello;
  content: "";
  font-size: inhrit;
  color: #ffffff;
  margin-right: 3px;
}

.TopInfo__info[data-typinfo="promo"] {
  background-color: #419D45;
  color: #ffffff;
}

.TopInfo__info[data-typinfo="promo"]::before {
  font-family: Fontello;
  content: "";
  font-size: inhrit;
  color: #ffffff;
  margin-right: 3px;
}

.TopInfo__info[data-timeinfo="yes"] {
  -webkit-animation: HiddenBox 12s 1;
          animation: HiddenBox 12s 1;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.TopInfo__info[data-timeinfo="yes"]::after {
  -webkit-animation: HiddenBoxLine 12s 1;
          animation: HiddenBoxLine 12s 1;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  content: " ";
  display: block;
  width: 100%;
  height: 1px;
  background: #424242;
  margin: 0 auto;
}

@-webkit-keyframes HiddenBox {
  0% {
    height: auto;
    opacity: 1;
  }
  98% {
    height: auto;
    opacity: 1;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}

@keyframes HiddenBox {
  0% {
    height: auto;
    opacity: 1;
  }
  98% {
    height: auto;
    opacity: 1;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}

@-webkit-keyframes HiddenBoxLine {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@keyframes HiddenBoxLine {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

.WarrantyList {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.WarrantyList__header {
  background: #9C27B0;
  color: #ffffff;
  height: 135px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.WarrantyList__logo {
  padding: 10px 0;
  margin: 0;
  font-size: 0.9em;
  font-weight: normal;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: -25px;
}

.WarrantyList__TopMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px 20px;
}

.WarrantyList__profil {
  height: 55px;
  width: 55px;
  color: red;
  border: 1.5px solid white;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
}

.WarrantyList__avatar {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  display: block;
  text-indent: -10000px;
}

.WarrantyList__NoAvatar {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

.WarrantyList__NoAvatar::before {
  font-family: Fontello;
  content: "";
  font-size: 1.5em;
  color: #ffffff;
  margin-right: 0;
}

.WarrantyList__add {
  font-size: 2em;
  font-weight: bold;
}

.WarrantyList__add > a:hover {
  opacity: 0.8;
}

.WarrantyList__StatusBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 8px black;
          box-shadow: 0px 0px 8px black;
  width: 80%;
  margin: -30px auto 10px auto;
  border-radius: 10px;
  height: 60px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.WarrantyList__StatusBoxNumber {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}

.WarrantyList__StatusBoxName {
  font-size: 0.7em;
  color: #444444;
}

.WarrantyList__FiltrBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 10px;
}

.WarrantyList__FiltrBoxLabel {
  width: 70%;
}

.WarrantyList__FiltrBoxLabel::before {
  font-family: Fontello;
  content: "";
  font-size: 0.8em;
  color: inherit;
  margin-right: 2px;
}

.WarrantyList__FiltrBoxInput {
  border: none;
  background: none;
  outline: none;
  width: 90%;
  font-size: 0.8em;
  border-bottom: 1px solid #FFFFFF;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #444444;
}

.WarrantyList__FiltrBoxInput::-webkit-input-placeholder {
  color: #444444;
}

.WarrantyList__FiltrBoxInput:-ms-input-placeholder {
  color: #444444;
}

.WarrantyList__FiltrBoxInput::-ms-input-placeholder {
  color: #444444;
}

.WarrantyList__FiltrBoxInput::placeholder {
  color: #444444;
}

.WarrantyList__FiltrBoxInput:focus {
  border-bottom: 1px solid #9E9E9E;
}

.WarrantyList__FiltrBoxFilters {
  font-size: 0.8em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #444444;
}

.WarrantyList__FiltrBoxFilters::after {
  font-family: Fontello;
  content: "";
  font-size: 0.8em;
  color: inherit;
  margin-left: 2px;
}

.WarrantyList__FiltrBoxFilters:hover .WarrantyList__FiltrBoxType {
  display: block;
}

.WarrantyList__FiltrBoxType {
  display: none;
  position: absolute;
  z-index: 1;
  border-right: 1px solid #9C27B0;
  margin-right: 1vw;
}

.WarrantyList__FiltrBoxType > div {
  background: #FFFFFF;
  text-align: right;
  display: block;
  padding: 5px 5px 0px 0px;
}

.WarrantyList__FiltrBoxIcon--UP::after {
  font-family: Fontello;
  content: "";
  font-size: 1.2em;
  color: inherit;
  margin-left: 2px;
}

.WarrantyList__FiltrBoxIcon--DOWN::after {
  font-family: Fontello;
  content: "";
  font-size: 1.2em;
  color: inherit;
  margin-left: 2px;
}

.WarrantyList__ItemsList {
  overflow-y: scroll;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

.WarrantyList__ItemsList::-webkit-scrollbar {
  width: 3px;
}

.WarrantyList__ItemsList::-webkit-scrollbar-thumb {
  background-color: #9C27B0;
  border-radius: 10px;
}

.WarrantyList__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 4vw;
}

.WarrantyList__item:nth-of-type(2n+1) {
  scroll-snap-align: start;
}

.WarrantyList__ItemFirstPart {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  border: 2.5px solid #9C27B0;
  position: relative;
  padding: 0 -15px;
}

.WarrantyList__ItemImg {
  display: block;
  height: 65px;
  width: 65px;
  border-radius: 50%;
  z-index: 999;
  text-indent: -10000px;
}

.WarrantyList__ItemDot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  position: absolute;
  bottom: 2px;
  right: 0;
}

.WarrantyList__ItemNoImg {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

.WarrantyList__ItemNoImg::before {
  font-family: Fontello;
  content: "";
  font-size: 1.5em;
  color: #444444;
  margin-right: 0;
}

.WarrantyList__ItemSecondPart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 0 0 5vw;
}

.WarrantyList__ItemName {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
}

.WarrantyList__ItemDescription {
  margin: 0;
  padding: 0;
  font-size: 0.7em;
}

.WarrantyList__ItemThirdPart {
  font-size: 0.8em;
  font-weight: bold;
  color: #9C27B0;
}

.WarrantyList__item[data-StatusItem="new"] .WarrantyList__ItemFirstPart .WarrantyList__ItemDot {
  background: #9C27B0;
}

.WarrantyList__item[data-StatusItem="archive"] .WarrantyList__ItemFirstPart .WarrantyList__ItemDot {
  background: #424242;
}

.WarrantyList__item[data-StatusItem="young"] .WarrantyList__ItemFirstPart .WarrantyList__ItemDot {
  background: #419D45;
}

.WarrantyList__item[data-StatusItem="medium"] .WarrantyList__ItemFirstPart .WarrantyList__ItemDot {
  background: #fac92a;
}

.WarrantyList__item[data-StatusItem="old"] .WarrantyList__ItemFirstPart .WarrantyList__ItemDot {
  background: #F81C00;
}

.WarrantyList__item[data-TypeItem="warranty"] .WarrantyList__ItemFirstPart {
  border: 2.5px solid #9C27B0;
}

.WarrantyList__item[data-TypeItem="business"] .WarrantyList__ItemFirstPart {
  border: 2.5px solid #fac92a;
}

.WarrantyList__item[data-TypeItem="family"] .WarrantyList__ItemFirstPart {
  border: 2.5px solid #419D45;
}

.WarrantyList__item[data-TypeItem="MeFamily"] .WarrantyList__ItemFirstPart {
  border: double 2.5px transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#FFFFFF)), -webkit-gradient(linear, left top, right top, from(#9C27B0), to(#419D45));
  background-image: linear-gradient(#FFFFFF, #FFFFFF), linear-gradient(to right, #9C27B0, #419D45);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
/*# sourceMappingURL=style.css.map */